spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/medibook
    username: medibook
    password: medibook1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect

  data:
    redis:
      host: localhost
      port: 6379

jwt:
  secret: medibook-jwt-secret-key-must-be-at-least-256-bits-long-for-hs256-algorithm
  access-expiration: 3600000
  refresh-expiration: 604800000

server:
  port: 8080

toss:
  payments:
    client-key: test_ck_LkKEypNArWlEWEbZJXJL8lmeaxYG
    secret-key: test_sk_nRQoOaPz8LKXGX59QvnGry47BMw6